.container {
	margin-left: auto;
	margin-right: auto;
	padding-left: $container-side-padding-pc;
	padding-right: $container-side-padding-pc;
	width: $container-max-width;
	//min-width: $container-max-width;

	&__inner {
		padding-left: $container-inner-side-padding-pc;
		padding-right: $container-inner-side-padding-pc;
	}

	&__row {
		display: flex;
		flex-flow: wrap;
	}

	&__col {
		margin-bottom: 25px;
		width: 50%;

		&:nth-child(odd) {
			padding-right: $container-inner-side-padding-pc / 2;
		}

		&:nth-child(even) {
			padding-left: $container-inner-side-padding-pc / 2;
		}
	}
}