.nav-block {
	color: white;

	&__head {
		font-size: 17px;
		padding: 3px 0;

		&_blue {
			background-color: $blue-main;
		}

		&_red {
			background-color: $red-main;
		}
	}

	&__current {
		display: inline-block;
	}

	&__arrow {
		margin: 0 8px;
	}

	&__link {
		color: white;

		&:hover {
			text-decoration: none;
		}
	}
}