.partners {
    

    &__nav-block-head {
        color: white;
        padding-left: 26px;
        padding-right: 26px;
    }

    &__body {
        background-color: $gray-main-238;
        padding: 30px 26px;
    }

    &__list {
        display: flex;
        flex-flow: wrap;
    }

    &__list-item {
        margin-bottom: 10px;
        padding: 0 5px;
        width: 25%;
    }

    &__list-link {
        display: block;
    }

    &__list-img {
        max-width: 100%;
    }
}