* {
    box-sizing: border-box;

    &:before,
    &:after {
        box-sizing: border-box;
    }
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: "Circe", Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 14px;
    position: relative;
    line-height: 1.5;
    //min-width: 320px;
    min-width: $container-max-width;
}