@font-face {
    font-family: "Circe";
    src: url("../fonts/Circe/Circe-Regular.eot");
    src: url("../fonts/Circe/Circe-Regular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Circe/Circe-Regular.woff") format("woff"),
    url("../fonts/Circe/Circe-Regular.ttf") format("truetype"),
    url('../fonts/Circe/Circe-Regular.svg#svgFontName') format('svg');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Circe";
    src: url("../fonts/Circe/Circe-Bold.eot");
    src: url("../fonts/Circe/Circe-Bold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Circe/Circe-Bold.woff") format("woff"),
    url("../fonts/Circe/Circe-Bold.ttf") format("truetype"),
    url('../fonts/Circe/Circe-Bold.svg#svgFontName') format('svg');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "Circe";
    src: url("../fonts/Circe/Circe-Light.eot");
    src: url("../fonts/Circe/Circe-Light.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Circe/Circe-Light.woff") format("woff"),
    url("../fonts/Circe/Circe-Light.ttf") format("truetype"),
    url('../fonts/Circe/Circe-Light.svg#svgFontName') format('svg');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Circe";
    src: url("../fonts/Circe/Circe-ExtraLight.eot");
    src: url("../fonts/Circe/Circe-ExtraLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Circe/Circe-ExtraLight.woff") format("woff"),
    url("../fonts/Circe/Circe-ExtraLight.ttf") format("truetype"),
    url('../fonts/Circe/Circe-ExtraLight.svg#svgFontName') format('svg');
    font-style: normal;
    font-weight: 100;
}