a {
	color: $blue-main-light;
}

/*** scroll style ***/
.mCSB_scrollTools {

	.mCSB_dragger {
		
		.mCSB_dragger_bar {
			background-color: $gray-main-light;
			border-radius: 0;
			width: 5px;
		}


		&.mCSB_dragger_onDrag {

			.mCSB_dragger_bar {
				background-color: $gray-main-light;
			}
		}

		&:hover {

			.mCSB_dragger_bar {
				background-color: $gray-main-light;
			}
		}
	}

	.mCSB_draggerRail {
		background-color: transparent;
	}
}
/*** /scroll style ***/


/*** select style ***/

.jq-selectbox {
	cursor: pointer;

	&__select {
		border: 1px solid $gray-main-193;
		padding: 4px 30px 3px 10px;
	}
	
	&__trigger {
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		width: 20px;
	}

	&__trigger-arrow {
		transform: translate(-50%, -50%);
		border-style: solid;
		border-width: 4px 5px 0 5px;
		border-color: $gray-main-193 transparent transparent transparent;
		position: absolute;
		top: 50%;
		left: 50%;
		width: 0;
		height: 0;
	}

	&__dropdown {
		background-color: white;
		border: 1px solid $gray-main-193;
		border-top: none;
		min-width: 100%;
	}

	li {
		border-bottom: 1px solid $gray-main-193;
		padding: 4px 5px 3px 10px;
		cursor: pointer;

		&:last-child {
			border-bottom: none;
		}

		&:hover {
			background-color: rgba(0,0,0,0.1);
		}
	}
}
/*** /select style ***/