h1,h2,h3,h4,h5,h6,p {
	margin-bottom: 0.5em;
}

h3 {
	font-size: 21px;
	font-weight: bold;
}

.fs-xl {
	font-size: 18px;
}

.fs-l {
	font-size: 17px;
}

.fs-m {
	font-size: 15px;
}

.fs-s {
	font-size: 14px;
}

.fs-xs {
	font-size: 13px;
}

.fs-xxs {
	font-size: 12px;
}