$trans: all 0.3s ease;
$container-max-width: 1040px;
$container-side-padding-pc: 30px;
$container-inner-side-padding-pc: 17px;

$header-nav-transition: 0.6s ease;

$main-news-content-height: 426px;
$main-new-list-width: 324px;

$cyan-main--lightest: #ebf6fc;

$blue-main: #006dba;
$blue-main-light: #0d90e6;

$red-main: #cb2229;

$main-gray-border: #cecccd;

$gray-main: #464646;
$gray-main-light: #616161;
$gray-main-lighten: #9a9a9a;
$gray-main-lightest: #b2b3b9;

// $color-main--lightest: #CBF3BF;
// $color-main--lighten:  #ACEF97;
// $color-main--light:    #74EA4F;
// $color-main:           #3FD411;
// $color-main--dark:     #39BA11;
// $color-main--darken:   #329F11;
// $color-main--darkest:  #184B09;