extends templates/layout

block vars
    - var title = 'Главная'

block content
    include components/main-news
    include components/gallery
    div.main-content
        div.container
            div.container__row
                div.container__col
                    include components/press
                div.container__col
                    include components/calendar
                div.container__col
                    include components/news-block
                    include components/teams
                div.container__col
                    include components/video
                    include components/partners
        include components/ads
        include components/sponsors