extends templates/layout

block vars
    - var title = 'Main'

block content
    include components/main-news
    include components/gallery
    div.main-content
        div.container
            div.container__row
                div.container__col
                    include components/press
        include components/ads
        include components/sponsors