footer.footer
    div.sponsors
        div.sponsors__head
            div.container
                div.nav-block__head
                    div.nav-block__current.
                        Спонсоры
                    img(src="img/nav-block-arrow.png", alt="").nav-block__arrow
                    a(href="").nav-block__link.
                        Подробнее
        div.sponsors__body
            div.container
                div.sponsors__list
                    - for(var i = 0; i < 14; i++) {
                        div.sponsors__list-item
                            a(href="").sponsors__list-link
                                img(src="img/main-slider-img.jpg", alt="").sponsors__list-img
                    -}
    div.footer__top
        div.container
            div.container__inner.footer__top-container
                div.footer__top-item
                    p.footer__top-adress.
                        г. Москва, Лужнецкая наб., 8
                    div
                        |тел. 
                        a(href="tel:84956370000").footer__link.
                            +7(495)637-00-00,
                        |
                        |
                        a(href="tel:84956370971").footer__link.
                            637-09-71
                div.footer__top-item.footer__top-item_right
                    a(href="mailto:web@volley.ru").footer__link.
                        web@volley.ru
                    div.nav-block__head.footer__top-nav-block-head
                        div.nav-block__current
                            img(src="img/nav-block-arrow.png", alt="").nav-block__arrow
                            a(href="").nav-block__link.footer__top-nav-block-link.
                                Контакты
    div.footer__bottom
        div.container
            div.container__inner.footer__bottom-container
                p.
                    © 2001 — 2013 ООО «Всероссийская Федерация Волейбола»
                p.
                    Дизайн сайта