section.gallery
    div.container
        div.gallery__block
            div.gallery__block-arrow.gallery__block-arrow_left.js-gallery-block-arrow-left
            div.gallery__block-arrow.gallery__block-arrow_right.js-gallery-block-arrow-right
            div.gallery__imgs.js-gallery-imgs
                - for (var j = 0; j < 2; j++) {
                    - for(var i = 0; i < 6; i ++) {
                        div.gallery__item
                            div.gallery__img-wrap
                                img(src="img/main-league-img" + (i + 1) + ".png", alt="").gallery__img
                    - }
                - }