section.main-news
	div.main-news__head
		div.container
			div.container__inner
				div.nav-block
					div.nav-block__head
						div.nav-block__current.
							В центре внимания
						img(src="img/nav-block-arrow.png", alt="").nav-block__arrow
						a(href="").nav-block__link.
							Все новости
	div.main-news__body
		div.container
			div.main-news__content
				div.main-news__list.js-main-news-list
					table.main-news__table
						- for (var i = 1; i < 20; i++) {
							tr.main-news__table-row
								td.main-news__table-col.main-news__table-col_time.
									0#{i}.03.2014
								td.main-news__table-col.main-news__table-col_event
									a(href="").main-news__table-link
										img(src="img/nav-block-arrow.png", alt="").main-news__table-arrow
										|Кавалеры орденов
						-}
				div.main-news__gallery
					div.main-news__gallery-arrow.main-news__gallery-arrow_left.js-main-news-gallery-arrow-left
					div.main-news__gallery-arrow.main-news__gallery-arrow_right.js-main-news-gallery-arrow-right
					div.main-news__gallery-info
						p.main-news__gallery-info-title
							a(href="").main-news__gallery-info-title-link.
								Кто будет спонсором
						a(href="").main-news__gallery-rubric.
							Российский спорт
						p.main-news__gallery-info-time.
							04.03.2014
						p.main-news__gallery-info-text.
							Всероссийская федерация волейбола проводит конкурс на звание титульного спонсора Матча Звезд2013 мужского Чемпионата России.
						div.main-news__gallery-info-bottom
							div.nav-block__head.main-news__gallery-nav-block
								img(src="img/nav-block-arrow.png", alt="").nav-block__arrow
								a(href="").nav-block__link.main-news__gallery-nav-block-link.
									Подробнее
							div.main-news__gallery-dots.js-main-news-gallery-dots
					div.main-news__gallery-container.js-main-news-gallery
						div.main-news__gallery-item
						div.main-news__gallery-item
	div.main-news__bottom-line