div.news-block
    div.nav-block__head.nav-block__head_blue.nav-block__head_close.news-block__nav-block-head
        div.nav-block__current.
            90 лет Российскому волейболу
        img(src="img/nav-block-arrow.png", alt="").nav-block__arrow
        a(href="").nav-block__link.
            Подробнее
        div.nav-block__open-arrow