div.sponsors
	div.sponsors__head
		div.container
			div.nav-block__head
				div.nav-block__current.
					Спонсоры
				img(src="img/nav-block-arrow.png", alt="").nav-block__arrow
				a(href="").nav-block__link.
					Подробнее
	div.sponsors__body
		div.container
			div.sponsors__list
				- for(var i = 0; i < 14; i++) {
					div.sponsors__list-item
						a(href="").sponsors__list-link
							img(src="img/main-slider-img.jpg", alt="").sponsors__list-img
				-}