div.teams
    div.nav-block
        div.nav-block__head.nav-block__head_blue.teams__nav-block-head
            div.nav-block__current.
                Положение команд
            div.nav-block__open-arrow
    div.teams__body
        div.teams__arrow.teams__arrow_left.js-teams-slider-arrow-left
        div.teams__arrow.teams__arrow_right.js-teams-slider-arrow-right
        div.teams__slider.js-teams-slider
            div.teams__slider-item
                div.teams__control
                    div.teams__title.
                        Чемпионат мира. Суперлига
                    div.teams__options
                        label
                            |Год
                            select.teams__options-select.js-teams-select
                                option.
                                    2014
                                option.
                                    2015
                        label
                            |Этап
                            select.teams__options-select.js-teams-select
                                option.
                                    Play Off
                                option.
                                    Play Off
                        div.teams__gender
                            form.teams__gender-form
                                input(type="radio" value="men" id="teamsGenderMen1" name="teamsgender1" checked).teams__gender-radio
                                label(for="teamsGenderMen1").teams__gender-label.
                                    Мужчины
                                input(type="radio" value="women" id="teamsGenderWomen1" name="teamsgender1").teams__gender-radio
                                label(for="teamsGenderWomen1").teams__gender-label.
                                    Женщины
                div.teams__results
                    table.teams__table
                        thead.teams__table-head
                            tr
                                th(colspan="3").teams__table-col.teams__table-col_head.teams__table-title.
                                    Финал
                        tbody
                            tr
                                td.teams__table-col.
                                    Команда
                                td.teams__table-col.ta-center.
                                    1-ый матч
                                td.ta-right.teams__table-col.teams__table-col_score.
                                    Счет в серии
                            tr
                                td.teams__table-col.teams__table-col_results
                                    span.fw-bold.teams__table-title.
                                        Локомотив
                                    span.teams__table-brackets.
                                        Новосибирск
                                td.teams__table-col.fw-reg.ta-center.teams__table-col_results.
                                    0:3
                                td(rowspan="2").teams__table-col.teams__table-score.teams__table-col_results.
                                    0 : 1
                            tr
                                td.teams__table-col.teams__table-col_results
                                    span.fw-bold.teams__table-title.
                                        Зенит-Казань
                                    span.teams__table-brackets.
                                        Казань
                                td.teams__table-col.ta-center.teams__table-col_results
                                    span.teams__table-brackets.
                                        20:25, 20:25, 22:25
                    table.teams__table
                        thead.teams__table-head
                            tr
                                th(colspan="3").teams__table-col.teams__table-col_head.teams__table-title.
                                    Финал
                        tbody
                            tr
                                td.teams__table-col.
                                    Команда
                                td.teams__table-col.ta-center.
                                    1-ый матч
                                td.ta-right.teams__table-col.teams__table-col_score.
                                    Счет в серии
                            tr
                                td.teams__table-col.teams__table-col_results
                                    span.fw-bold.teams__table-title.
                                        Локомотив
                                    span.teams__table-brackets.
                                        Новосибирск
                                td.teams__table-col.fw-reg.ta-center.teams__table-col_results.
                                    0:3
                                td(rowspan="2").teams__table-col.teams__table-score.teams__table-col_results.
                                    0 : 1
                            tr
                                td.teams__table-col.teams__table-col_results
                                    span.fw-bold.teams__table-title.
                                        Зенит-Казань
                                    span.teams__table-brackets.
                                        Казань
                                td.teams__table-col.ta-center.teams__table-col_results
                                    span.teams__table-brackets.
                                        20:25, 20:25, 22:25
                            tr
                                td.teams__table-col.teams__table-col_results
                                    span.fw-bold.teams__table-title.
                                        Локомотив
                                    span.teams__table-brackets.
                                        Новосибирск
                                td.teams__table-col.fw-reg.ta-center.teams__table-col_results.
                                    0:3
                                td(rowspan="2").teams__table-col.teams__table-score.teams__table-col_results.
                                    0 : 1
                            tr
                                td.teams__table-col.teams__table-col_results
                                    span.fw-bold.teams__table-title.
                                        Зенит-Казань
                                    span.teams__table-brackets.
                                        Казань
                                td.teams__table-col.ta-center.teams__table-col_results
                                    span.teams__table-brackets.
                                        20:25, 20:25, 22:25
                    table.teams__table
                        thead.teams__table-head
                            tr
                                th(colspan="7").teams__table-col.teams__table-col_head.teams__table-title.
                                    Финал
                        tbody
                            tr
                                td.teams__table-col.
                                    Команда
                                td.teams__table-col.ta-center.
                                    1-ый матч
                                td.teams__table-col.ta-center.
                                    2-й матч
                                td.teams__table-col.ta-center.
                                    3-й матч
                                td.teams__table-col.ta-center.
                                    4-й матч
                                td.teams__table-col.ta-center.
                                    5-й матч
                                td.ta-center.teams__table-col.teams__table-col_score.
                                    Счет в серии
                            tr
                                td.teams__table-col.teams__table-col_results
                                    span.fw-bold.teams__table-title.
                                        Динамо
                                    span.teams__table-brackets.
                                        Москва
                                td.teams__table-col.fw-reg.ta-center.teams__table-col_results.
                                    0:3
                                td.teams__table-col.fw-reg.ta-center.teams__table-col_results.
                                    0:3
                                td.teams__table-col.fw-reg.ta-center.teams__table-col_results.
                                    0:3
                                td.teams__table-col.fw-reg.ta-center.teams__table-col_results.
                                    0:3
                                td.teams__table-col.fw-reg.ta-center.teams__table-col_results.
                                    0:3
                                td.teams__table-col.teams__table-score.teams__table-col_results.
                                    0 : 1
                            tr
                                td.teams__table-col.teams__table-col_results
                                    span.fw-bold.teams__table-title.
                                        Динамо
                                    span.teams__table-brackets.
                                        Москва
                                td.teams__table-col.fw-reg.ta-center.teams__table-col_results.
                                    0:3
                                td.teams__table-col.fw-reg.ta-center.teams__table-col_results.
                                    0:3
                                td.teams__table-col.fw-reg.ta-center.teams__table-col_results.
                                    0:3
                                td.teams__table-col.fw-reg.ta-center.teams__table-col_results.
                                    0:3
                                td.teams__table-col.fw-reg.ta-center.teams__table-col_results.
                                    0:3
                                td.teams__table-col.teams__table-score.teams__table-col_results.
                                    0 : 1
                            tr
                                td.teams__table-col.teams__table-col_results
                                    span.fw-bold.teams__table-title.
                                        Динамо
                                    span.teams__table-brackets.
                                        Москва
                                td.teams__table-col.fw-reg.ta-center.teams__table-col_results.
                                    0:3
                                td.teams__table-col.fw-reg.ta-center.teams__table-col_results.
                                    0:3
                                td.teams__table-col.fw-reg.ta-center.teams__table-col_results.
                                    0:3
                                td.teams__table-col.fw-reg.ta-center.teams__table-col_results.
                                    0:3
                                td.teams__table-col.fw-reg.ta-center.teams__table-col_results.
                                    0:3
                                td.teams__table-col.teams__table-score.teams__table-col_results.
                                    0 : 1
            div.teams__slider-item
                div.teams__control
                    div.teams__title.
                        Чемпионат мира. Суперлига
                    div.teams__options
                        label
                            |Год
                            select.teams__options-select.js-teams-select
                                option.
                                    2014
                                option.
                                    2015
                        label
                            |Этап
                            select.teams__options-select.js-teams-select
                                option.
                                    Play Off
                                option.
                                    Play Off
                        div.teams__gender
                            form.teams__gender-form
                                input(type="radio" value="men" id="teamsGenderMen2" name="teamsgender2" checked).teams__gender-radio
                                label(for="teamsGenderMen2").teams__gender-label.
                                    Мужчины
                                input(type="radio" value="women" id="teamsGenderWomen2" name="teamsgender2").teams__gender-radio
                                label(for="teamsGenderWomen2").teams__gender-label.
                                    Женщины
                div.teams__results
                    table.teams__table
                        thead.teams__table-head
                            tr
                                th(colspan="3").teams__table-col.teams__table-col_head.teams__table-title.
                                    Финал
                        tbody
                            tr
                                td.teams__table-col.
                                    Команда
                                td.teams__table-col.ta-center.
                                    1-ый матч
                                td.ta-right.teams__table-col.teams__table-col_score.
                                    Счет в серии
                            tr
                                td.teams__table-col.teams__table-col_results
                                    span.fw-bold.teams__table-title.
                                        Локомотив
                                    span.teams__table-brackets.
                                        Новосибирск
                                td.teams__table-col.fw-reg.ta-center.teams__table-col_results.
                                    0:3
                                td(rowspan="2").teams__table-col.teams__table-score.teams__table-col_results.
                                    0 : 1
                            tr
                                td.teams__table-col.teams__table-col_results
                                    span.fw-bold.teams__table-title.
                                        Зенит-Казань
                                    span.teams__table-brackets.
                                        Казань
                                td.teams__table-col.ta-center.teams__table-col_results
                                    span.teams__table-brackets.
                                        20:25, 20:25, 22:25
                    table.teams__table
                        thead.teams__table-head
                            tr
                                th(colspan="3").teams__table-col.teams__table-col_head.teams__table-title.
                                    Финал
                        tbody
                            tr
                                td.teams__table-col.
                                    Команда
                                td.teams__table-col.ta-center.
                                    1-ый матч
                                td.ta-right.teams__table-col.teams__table-col_score.
                                    Счет в серии
                            tr
                                td.teams__table-col.teams__table-col_results
                                    span.fw-bold.teams__table-title.
                                        Локомотив
                                    span.teams__table-brackets.
                                        Новосибирск
                                td.teams__table-col.fw-reg.ta-center.teams__table-col_results.
                                    0:3
                                td(rowspan="2").teams__table-col.teams__table-score.teams__table-col_results.
                                    0 : 1
                            tr
                                td.teams__table-col.teams__table-col_results
                                    span.fw-bold.teams__table-title.
                                        Зенит-Казань
                                    span.teams__table-brackets.
                                        Казань
                                td.teams__table-col.ta-center.teams__table-col_results
                                    span.teams__table-brackets.
                                        20:25, 20:25, 22:25
                            tr
                                td.teams__table-col.teams__table-col_results
                                    span.fw-bold.teams__table-title.
                                        Локомотив
                                    span.teams__table-brackets.
                                        Новосибирск
                                td.teams__table-col.fw-reg.ta-center.teams__table-col_results.
                                    0:3
                                td(rowspan="2").teams__table-col.teams__table-score.teams__table-col_results.
                                    0 : 1
                            tr
                                td.teams__table-col.teams__table-col_results
                                    span.fw-bold.teams__table-title.
                                        Зенит-Казань
                                    span.teams__table-brackets.
                                        Казань
                                td.teams__table-col.ta-center.teams__table-col_results
                                    span.teams__table-brackets.
                                        20:25, 20:25, 22:25
                    table.teams__table
                        thead.teams__table-head
                            tr
                                th(colspan="7").teams__table-col.teams__table-col_head.teams__table-title.
                                    Финал
                        tbody
                            tr
                                td.teams__table-col.
                                    Команда
                                td.teams__table-col.ta-center.
                                    1-ый матч
                                td.ta-right.teams__table-col.
                                    2-й матч
                                td.teams__table-col.ta-center.
                                    3-й матч
                                td.ta-right.teams__table-col.
                                    4-й матч
                                td.ta-right.teams__table-col.
                                    5-й матч
                                td.ta-right.teams__table-col.teams__table-col_score.
                                    Счет в серии
                            tr
                                td.teams__table-col.teams__table-col_results
                                    span.fw-bold.teams__table-title.
                                        Динамо
                                    span.teams__table-brackets.
                                        Москва
                                td.teams__table-col.fw-reg.ta-center.teams__table-col_results.
                                    0:3
                                td.teams__table-col.fw-reg.ta-center.teams__table-col_results.
                                    0:3
                                td.teams__table-col.fw-reg.ta-center.teams__table-col_results.
                                    0:3
                                td.teams__table-col.fw-reg.ta-center.teams__table-col_results.
                                    0:3
                                td.teams__table-col.fw-reg.ta-center.teams__table-col_results.
                                    0:3
                                td.teams__table-col.teams__table-score.teams__table-col_results.
                                    0 : 1
                            tr
                                td.teams__table-col.teams__table-col_results
                                    span.fw-bold.teams__table-title.
                                        Динамо
                                    span.teams__table-brackets.
                                        Москва
                                td.teams__table-col.fw-reg.ta-center.teams__table-col_results.
                                    0:3
                                td.teams__table-col.fw-reg.ta-center.teams__table-col_results.
                                    0:3
                                td.teams__table-col.fw-reg.ta-center.teams__table-col_results.
                                    0:3
                                td.teams__table-col.fw-reg.ta-center.teams__table-col_results.
                                    0:3
                                td.teams__table-col.fw-reg.ta-center.teams__table-col_results.
                                    0:3
                                td.teams__table-col.teams__table-score.teams__table-col_results.
                                    0 : 1
                            tr
                                td.teams__table-col.teams__table-col_results
                                    span.fw-bold.teams__table-title.
                                        Динамо
                                    span.teams__table-brackets.
                                        Москва
                                td.teams__table-col.fw-reg.ta-center.teams__table-col_results.
                                    0:3
                                td.teams__table-col.fw-reg.ta-center.teams__table-col_results.
                                    0:3
                                td.teams__table-col.fw-reg.ta-center.teams__table-col_results.
                                    0:3
                                td.teams__table-col.fw-reg.ta-center.teams__table-col_results.
                                    0:3
                                td.teams__table-col.fw-reg.ta-center.teams__table-col_results.
                                    0:3
                                td.teams__table-col.teams__table-score.teams__table-col_results.
                                    0 : 1