doctype html

- var title = 'Project title'
- var days = ["Понедельник", "Вторник", "Среда", "Четверг", "Пятница", "Суббота", "Воскресенье"];
- var months = ["Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь"];

block vars
    
html
    head
        block head
            meta(charset="utf-8")
            meta(name="description", content="")
            //meta(name="viewport", content="width=device-width, initial-scale=1, minimal-ui")
            title #{title}
            link(rel="icon" type="image/png" href="favicon.png" sizes="16x16")
            link(rel="stylesheet", href="styles/vendor.css")
            link(rel="stylesheet", href="styles/main.css")
    body
        include ../components/svg
        include ../components/sidebar
        include ../components/header
        block content
        include ../components/footer
        script(src="scripts/vendor.js")
        script(src="scripts/app.js")
